@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-geist: "Geist", sans-serif; 

    --background-image-dark-square: url("/images/dark-square.webp");
    --background-image-light-square: url("/images/light-square.webp");
}